In [1]:
#numerical
x=55
price=26.37
print(x,price)

55 26.37

In [5]:
num=3e6
print(num)
print(type(num))

3000000.0
<class 'float'>

In [4]:
z=4+6j
print(z)
print(type(z))

(4+6j)
<class 'complex'>

In [6]:
print(round(4.8))

5

In [7]:
nums=[1,8,7,6,5,4]
print(max(nums))
print(min(nums))
print(sum(nums))

8
1
31

In [16]:
name='vansh'
city="vadodara"
print(name,city)
print(name[-1])
name_city=name+" | "+city
print(name_city)
print(len(name_city))
print(name_city[0:12])

vansh vadodara
h
vansh | vadodara
16
vansh | vado

In [19]:
name="upper"
print(name.upper())
print(name.lower())
print(name.capitalize())
city="  surat"
print(city)
print(city.strip())

UPPER
upper
Upper
  surat
surat

In [20]:
str="hello dosto, i am happy, i am good"
print(str.replace("i am","wr are"))

hello dosto, wr are happy, wr are good

In [23]:
#List
students=["stu1","stu2","stu3"]
print(students)
print(type(students))

['stu1', 'stu2', 'stu3']
<class 'list'>

In [25]:
list1=list({"list1","list2",3})
print(list1);

[3, 'list2', 'list1']

In [28]:
l1=[1,5,56,7,8,99,33]
l1.append(555)
print(l1)
l1.insert(3,43)
print(l1)
arr1=[5,63]
arr2=["vab","etend"]
arr1.extend(arr2)
print(arr1)

[1, 5, 56, 7, 8, 99, 33, 555]
[1, 5, 56, 43, 7, 8, 99, 33, 555]
[5, 63, 'vab', 'etend']

In [32]:
l1=[1,5,56,7,8,99,33]
l1.remove(1)
print(l1)
print(l1.pop())
print(l1)
print(l1.pop(3))
print(l1)

[5, 56, 7, 8, 99, 33]
33
[5, 56, 7, 8, 99]
8
[5, 56, 7, 99]

In [37]:
l1=[1,5,56,7,8,99,33]
l1[2:5]=88,87,86
print(l1)
l1[2:5]=77,79
print(l1)

[1, 5, 88, 87, 86, 99, 33]
[1, 5, 77, 79, 99, 33]

In [2]:
l1=[1,5,56,7,8,99,33]
l1_copy=l1.copy()
print(l1_copy)
print(id(l1_copy))
print(id(l1))

[1, 5, 56, 7, 8, 99, 33]
2327862642560
2327862601856

In [5]:
#tuple
tup1=(3,6,8,5,2)
print(tup1)
print(type(tup1))

(3, 6, 8, 5, 2)
<class 'tuple'>

In [6]:
t1=tuple({1,5,9,7})
print(t1)

(1, 5, 9, 7)

In [7]:
t=(55,)
print(type(t))

<class 'tuple'>

In [ ]:
chars=("abc","def","ghi","jkl","abc","mno")
print(chars.count('abc'))
print(chars.index('ghi'))
#tuples are immutable

2
2

In [13]:
#Dictionary
student_details={"name":"vansh","age":18,"city":"vadodara"}
print(student_details)

{'name': 'vansh', 'age': 18, 'city': 'vadodara'}

In [16]:
#constructor
dict1=dict(name="vnahs",one="yexs",two="fifth")
print(dict1)

{'name': 'vnahs', 'one': 'yexs', 'two': 'fifth'}

In [21]:
dict1={"name":"vansh","age":18,"city":"vadodara"}
print(dict1['name'])
print(dict1.keys())
print(dict1.values())
print(dict1.items())

vansh
dict_keys(['name', 'age', 'city'])
dict_values(['vansh', 18, 'vadodara'])
dict_items([('name', 'vansh'), ('age', 18), ('city', 'vadodara')])

In [22]:
dict1={"name":"vansh","age":18,"city":"vadodara"}
dict1["country"]="india"
print(dict1.items())

dict_items([('name', 'vansh'), ('age', 18), ('city', 'vadodara'), ('country', 'india')])

In [ ]:
dict1={"name":"vansh","age":18,"city":"vadodara"}
marks={"phy":50,"chem":58,"math":80}
dict1.update(marks)
print(dict1)

{'name': 'vansh', 'age': 18, 'city': 'vadodara', 'phy': 50, 'chem': 58, 'math': 80}

In [26]:
dict1={"name":"vansh","age":18,"city":"vadodara"}
print(dict1.pop("city"))
print(dict1)
print(dict1.popitem())
print(dict1)

vadodara
{'name': 'vansh', 'age': 18}
('age', 18)
{'name': 'vansh'}

In [48]:
s={1,2,5,5,8,9}
print(s)

{1, 2, 5, 8, 9}

In [56]:
set1=set

set1.add(5)
set1.add(7)
set1.add(5)
set1.add(9)
set1.add(120)
print(set1)

{1, 2, 5, 7, 8, 9, 12, 120}

In [50]:
s1={3,9,7,8}
s1.discard(7)
print(s1)

{8, 9, 3}

In [53]:
#frozenset:immutable set
fs=frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [57]:
#implicit typecasting
x=5
y=6.5
x=x+y
print(x)

11.5

In [ ]:
#explicit typecasting
y='100'
x=int(y)
print(x)
print(type(x))
#str()
#float()

100
<class 'int'>